<table id="requests">
    <thead>
        <tr>
            <th>ID</th>
            <th>Запит</th>
            <th>Коли створений</th>
            <th>Тег</th>
            <th>Клієнт</th>
            <th>Спеціаліст</th>
            <th>Клієнт TG Username</th>
            <th>Клієнт TG ID</th>
            <th>Дата народження</th>
            <th>Вік</th>
            <th>Де знаходиться</th>
            <th>Місто</th>
            <th>Досвід з психологом</th>
            <th>Яку допомогу</th>
            <th>Як дізналися</th>
            <th>Телефон</th>
            <th>Тип запиту</th>
            <th>Дії</th>
            <th>Відгуки</th>
            <th>Відгук питання 1</th>
            <th>Відгук питання 2</th>
            <th>Відгук питання 3</th>
            <th>Відгук питання 4</th>
            <th>Відгук питання 5</th>
            <th>Відгук питання 6</th>
            <th>Відгук питання 7</th>
            <th>Відгук питання 8</th>
            <th>Відгук питання 9</th>
            <th>Відгук питання 10</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.request_name }}</td>
            <td>{{ request.created_date }}</td>
            <td>{{ request.tag }}</td>
            <td><a href="{{ url_for('users.user_card', user_id=request.user_id) }}">{{ request.user }}</a></td>
            <td>
                {% if request.specialist %}
                <a href="{{ url_for('specialists.specialist_card', specialist_id=request.specialist_id) }}">{{ request.specialist }}</a>
                {% else %}
                Спеціаліст не вибраний
                {% endif %}
            </td>
            <td>{{ request.user_username }}</td>
            <td>{{ request.user_telegram_id }}</td>
            <td>{{ request.user_birthdate }}</td>
            <td>{{ request.user.age }}</td>
            <td>{{ request.user_where_is }}</td>
            <td>{{ request.user_where_is_city }}</td>
            <td>{{ request.user_worked_with_psychologist_before }}</td>
            <td>{{ request.help_type }}</td>
            <td>{{ request.user_how_known }}</td>
            <td>{{ request.user_phone }}</td>
            <td>{{ request.request_type }}</td>
            <td>
                <a href="{{ url_for('requests.delete_request', request_id=request.id) }}">Delete</a>
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        <a href="{{ url_for('feedbacks.feedback_card', feedback_id=feedback.id) }}">{{ feedback }}</a>
                    {% endfor %}
                {% elif request.status == 'Запит відгуку відправлено' %}
                    'Запит відгуку відправлено'
                {% else %}
                    <button type="button" hx-post="{{ url_for('requests.get_feedback', request_id=request.id) }}">Запит відгука</button>
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_1 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_2 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_3 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_4 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_5 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_6 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_7 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_8 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_9 }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if request.feedbacks %}
                    {% for feedback in request.feedbacks %}
                        {{ feedback.question_10 }}
                    {% endfor %}
                {% endif %}
            </td>
            

        </tr>
        {% endfor %}
    </tbody>
</table>