<form method="POST" action="{{ url_for('specialists.new_specialist') }}" class="form-container">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    
    <div class="form-group">
    {{ form.name_input.label }}<br> {{ form.name_input }}
    {% if form.name_input.errors %}
        {{ form.name_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.manychat_username_input.label }}<br> {{ form.manychat_username_input }}
    {% if form.manychat_username_input.errors %}
        {{ form.manychat_username_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.description_input.label }}<br> {{ form.description_input }}
    {% if form.description_input.errors %}
        {{ form.description_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.image_input.label }}<br> {{ form.image_input }}
    {% if form.image_input.errors %}
        {{ form.image_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.cv_input.label }}<br> {{ form.cv_input }}
    {% if form.cv_input.errors %}
        {{ form.cv_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.tags_select.label }}<br> {{ form.tags_select(size=form.tags_select.choices|length) }}
    {% if form.tags_select.errors %}
        {{ form.tags_select.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.cost_input.label }}<br> {{ form.cost_input }}
    {% if form.cost_input.errors %}
        {{ form.cost_input.errors }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.submit() }}
    </div>
</form>