<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>

</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('requests.requests') }}">Запити</a></li>            
            <li><a href="{{ url_for('specialists.specialists') }}">Спеціалісти</a></li>
            <li><a href="{{ url_for('users.users') }}">Користувачі</a></li>
            <li><a href="{{ url_for('tags.tags') }}">Теги</a></li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>